@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    @apply overflow-y-scroll;
  }
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 16px);
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
